# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
db.sqlite3
/.ipynb_checkpoints/
.ipynb_checkpoints/
Untitled.ipynb
deply/__pycache__/serializers.cpython-35.pyc
deply/__pycache__/views_api.cpython-35.pyc
deply/migrations/__pycache__/0003_auto_20180921_1120.cpython-35.pyc
deply/migrations/__pycache__/0004_auto_20180921_1730.cpython-35.pyc
deply/migrations/__pycache__/0005_auto_20180926_1420.cpython-35.pyc
deply/migrations/__pycache__/0006_auto_20180926_1421.cpython-35.pyc
deply/migrations/__pycache__/0007_auto_20180927_1137.cpython-35.pyc
deply/migrations/__pycache__/0008_auto_20180927_1139.cpython-35.pyc
deply/migrations/__pycache__/0009_remove_fabu_bpub_date.cpython-35.pyc
deply/migrations/__pycache__/0010_auto_20180930_1526.cpython-35.pyc
ipport/__pycache__/
ipport/migrations/__pycache__/
web/__pycache__/apps.cpython-35.pyc
