aliyun-python-sdk-core-v3==2.8.9
aliyun-python-sdk-ecs==4.9.1
aliyun-python-sdk-slb==3.2.4
aliyun-python-sdk-vpc==3.0.2
asn1crypto==0.24.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3.1
Django==2.2.13
django-suit==2.0a1
docutils==0.14
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Pillow==5.2.0
prometheus-client==0.3.1
psutil==5.4.7
pycparser==2.18
PyMySQL==0.9.2
pyparsing==2.2.0
pytz==2018.5
redis==2.10.6
requests==2.18.4
simplejson==3.15.0
six==1.11.0
suit==2.0.2
svgwrite==1.1.12
Tree==0.2.4
urllib3==1.22
Werkzeug==0.14.1
